

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:wght@700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');


:root {
    --primary-color: #b18b5e ;
    
}

ul {
    list-style-type:none;
}
.nav-items {
    display: flex;
    gap: 40px;
   
}
.nav-items li a {
    color:black;
    text-decoration: none;
    
}
.nav-items li a:hover {
    color:#b18b5e;

}

.top-header{
    background-color: var(--primary-color);
    color:white;
    padding-bottom: 20px;
    padding-top: 20px;
  
}

.top-header-content{
    display: flex;
    gap: 50px;
}
.login-btn{
    background-color:#b18b5e;
    color:white;
    border-color:none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.call{
    display:flex
    
} 
.bottom-header{
    background-color: white;
}

.bottom-header-content{
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color:white
    
}

.search{
    width: 300px;
}    
.search-box input{
    border-radius: 25px;
    padding-left: 20px;  
    padding-bottom: 15px;
    padding-top: 15px;  
    border: solid;  
    border-width:thin; 
    border-color:#dfdfdf;
    
}

label{
    position: relative;
    
}

.search-box button{
    position: absolute;
    top: -13px;
    right: 1px;
    bottom: 13px;
    width: 50px;
    height: 49px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color:antiquewhite;
    border: none;    
}
input:focus{
    outline: none;
}


.addina {
     margin-left: 7px;
}



select{
    background-color: #b18b5e;
    color: white;
    border:none;  
    outline: none;
   
} 

select option{
    background-color:white;
    color: black;
}
      
 
/* 
#english{
    background-color: #b18b5e;
    color: white;
    cursor: pointer;
    
}

#USD{
     background-color: #b18b5e;
    color: white;
   
     cursor: pointer;
}

#settings{
    background-color: #b18b5e;
    color: white;
   
     cursor: pointer;

} 


   */

.elevate{
    max-width: 450px;
    padding: 0;
    margin: 0;
}
.elevate h1{
    
    font-size:80px;
    margin-bottom: 40px;
    /* max-width: 450px; */
    
}   
.elevate p{
    color: gray;
    line-height: 25px;
}


.cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;
    
}
.card h1{
    padding-bottom: 10px;
}
.card p{
    color: grey;
}




