.product-cards{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 450px 450px;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-card{
    border: solid;
    border-color: grey;
    border-width: thin;
    color:rgb(201, 197, 197);
    
}
   
.product-card h1{
    color:black;
    margin-left: 20px;
}
.product-card h3{
    color: white;
    background-color: #b18b5e;
    border-radius: 20px;
    padding: 6px 10px;
    max-height: fit-content;
    max-width: fit-content;
    margin:20px 0 0 20px;
   
   
}
.product-card h4{
    color: #b18b5e;
    margin-bottom:20px;

}
.product-card-content{
    /* margin-left: 20px; */
    display: grid;
    gap: 20px;

}
.product-card-content img{
    margin-left: 20px;
}
.image-bottom{
    border-color:rgb(227, 223, 223);
    border-width: thin;
    
}
.prices{
    display: flex;
    gap: 15px;
    margin-left: 20px;
}
