/* 
.breadcrumps{
    display: flex;
    gap: 4px;
}
.breadcrumps-area h1{
    color: white;
    font-size:50px;
    margin-bottom: 20px;
    
}
#breadcrumps-thumb{
    background-image: url(/public/images/breadcrumb-bg-furniture.jpg);
    height:1400px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    opacity: 100%;

}
.breadcrumps-area{
     margin:0 auto;
     
     

} */

  





